<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div>
                <div>
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Meu Perfil</h1>
                        </div>
                        <%= form_with(url: users_backoffice_profile_path, model: @user, local: true) do |form| %>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <%= form.text_field :first_name, class:"form-control form-control-user", placeholder:"Nome..." %>
                                    
                                </div>
                                <div class="col-sm-6">
                                    <%= form.text_field :last_name, class:"form-control form-control-user", placeholder:"Sobrenome..." %>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= form.text_field :email, class:"form-control form-control-user", placeholder:"E-mail..." %>
                            </div>

                            <%= form.fields_for :user_profile do |profile_form| %>
                                <div class="form-group">
                                    <%= profile_form.text_field :address, class:"form-control form-control-user", placeholder:"Endereço..." %>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <%= profile_form.text_field :cellphone, class:"form-control form", placeholder:"Celular"%>
                                    </div>
                                    <div class="col-sm-6">
                                    <%= profile_form.date_field :birthdate, 
                                        value: (@user.user_profile.birthdate unless @user.user_profile.birthdate.blank?),
                                        class:"form-control col-md-7 col-xs-12 datepicker"%>
                                    </div>
                                </div>
                            <% end %>
                            
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <%= form.password_field :password, class:"form-control form-control-user", placeholder:"Digite sua senha" %>
                                </div>
                                <div class="col-sm-6">
                                    <%= form.password_field :password_confirmation, class:"form-control form-control-user", placeholder:"Confirme sua senha" %>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-user btn-block">
                                Atualizar
                            </button>
                        </form>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>