<div class="row">
  <div class="col-lg-6">

    <!-- Collapsable Card Members -->
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
          role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Lista de Membros</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                  </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.first_name %></td>
                    <td><%= user.email %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <% @schedule.each do |schedule| %>
        <% if Date.tomorrow == schedule.day  %>
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                <%= l schedule.day %>
              </div>
              <div class="card-body">
                  <h4>Manhã</h4>
                  <strong>Transmissão</strong> <h6><%= schedule.morning_tranmission %></h6>
                  <strong>Arquivos</strong> <h6><%= schedule.morning_files %></h6>
                  <hr>
                  <h4>Noite</h4>
                  <strong>Transmissão</strong> <h6><%= schedule.night_transmission %></h6>
                  <strong>Arquivos</strong> <h6><%= schedule.night_files %></h6>
                  <strong>Som</strong> <h6><%= schedule.night_sound %></h6>
              </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>