<div class="row">
  <div class="col-lg-6">

    <!-- Collapsable Card Members -->
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
          role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Lista de Membros</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse hiden" id="collapseCardExample">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                  </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.first_name %></td>
                    <td><%= user.email %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
        <!-- Collapsable Card Members -->
        <div class="card shadow mb-4">
          <!-- Basic Card Example -->
            <% @schedule.each do |schedule| %>
            <div class="  mb-4">
                <div class="card-body border-bottom-info">
                        <strong> <%= l schedule.day %> </strong>
                    <p>
                        <h5>Manhã</h5>
                    <strong>Transmissão</strong> <%= schedule.morning_tranmission %>
                    <strong>Arquivos</strong> <%= schedule.morning_files %>
                    <hr>
                    <h5>Noite</h5>
                    <strong>Transmissão</strong> <%= schedule.night_transmission %>
                    <strong>Arquivos</strong> <%= schedule.night_files %>
                    <strong>Som</strong> <%= schedule.night_sound %>
                    </p>
                </div>
            </div>
            <% end %>
        </div>
  </div>
</div>