<div class="row">
    <div class="col-lg-4">
        <!-- Collapsable Card Members -->
        <div class="card">
          <!-- Basic Card Example -->
            <% @schedule.each do |schedule| %>
            <div class="  mb-4">
                <div class="card-body border-bottom-info">
                        <strong> <%= l schedule.day %> </strong>
                    <p>
                        <h5>Manhã</h5>
                    <strong>Transmissão</strong> <%= schedule.morning_tranmission %> <br/>
                    <strong>Arquivos</strong> <%= schedule.morning_files %>
                    <hr>
                    <h5>Noite</h5>
                    <strong>Transmissão</strong> <%= schedule.night_transmission %> <br/>
                    <strong>Arquivos</strong> <%= schedule.night_files %> <br/>
                    <strong>Som</strong> <%= schedule.night_sound %>
                    </p>
                </div>
            </div>
            <% end %>
        </div>
  </div>
</div>